body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1007fa
}
fieldset{
  text-align: left;
}
input:hover ,select:hover{
  background-color: lightblue;
}
input:focus ,select:focus{
  background-color: lightblue;
}
legend{
  font-weight: bold;
  text-transform: uppercase;
}
p{
  font-weight: bold;
}
b{
  color: black;
}
